adium-theme-ubuntu==0.3.4
attrs==17.4.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
bleach==2.1.2
blinker==1.3
bs4==0.0.1
cached-property==1.3.0
certifi==2017.11.5
characteristic==14.3.0
chardet==3.0.4
click==6.7
command-not-found==0.3
configparser==3.5.0
cryptography==1.2.3
debtags==2.0
decorator==4.1.2
defer==1.0.6
dirspec==13.10
docker-compose==1.8.0
docker-py==1.9.0
dockerpty==0.4.1
docopt==0.6.2
duplicity==0.7.6
entrypoints==0.2.3
enum34==1.1.2
Flask==0.12.2
Flask-Cors==3.0.3
funcsigs==0.4
functools32==3.2.3.post2
future==0.16.0
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.1
html2text==2017.10.4
html5lib==1.0.1
httplib2==0.10.3
idna==2.6
inflection==0.3.1
ipaddress==1.0.19
ipykernel==4.7.0
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.0.5
itsdangerous==0.24
Jinja2==2.10
JSON-log-formatter==0.2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.0
jupyter-console==5.2.0
jupyter-core==4.4.0
lockfile==0.12.2
lxml==3.5.0
MarkupSafe==1.0
mistune==0.8.3
mock==1.3.0
mongoengine==0.15.0
more-itertools==4.2.0
nbconvert==5.3.1
nbformat==4.4.0
ndg-httpsclient==0.4.0
nltk==3.2.5
notebook==5.2.2
numpy==1.13.3
oauthlib==1.0.3
oneconf==0.3.9
PAM==0.4.2
pandas==0.21.1
pandas-market-calendars==0.19
pandocfilters==1.4.2
parsedatetime==2.4
pathlib2==2.3.0
pbr==1.8.0
pexpect==4.0.1
pickleshare==0.7.4
Pillow==3.1.2
piston-mini-client==0.7.5
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5
py==1.5.2
pyasn1==0.1.9
pyasn1-modules==0.0.7
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.2.0
pygobject==3.20.0
PyJWT==1.3.0
pymongo==3.6.0
pyOpenSSL==0.15.1
pyserial==3.0.1
pytest==3.3.2
python-apt==1.1.0b1+ubuntu0.16.4.1
python-crfsuite==0.9.5
python-dateutil==2.6.1
python-debian==0.1.27
python-nmap==0.6.1
pytz==2017.3
pyxdg==0.25
PyYAML==3.11
pyzmq==16.0.3
qtconsole==4.3.1
Quandl==3.4.0
reportlab==3.3.0
requests==2.18.4
scandir==1.6
scapy==2.3.3
scikit-learn==0.19.1
scipy==0.19.1
scour==0.32
service-identity==16.0.0
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.10.0
software-center-aptd-plugins==0.0.0
SQLAlchemy==1.1.15
terminado==0.8.1
testpath==0.3.1
texttable==0.8.1
tornado==4.5.2
traitlets==4.3.2
Twisted==16.0.0
ubuntuone-client-data==14.4
unity-lens-photos==1.0
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.18.0
Werkzeug==0.13
widgetsnbextension==3.0.8
zope.interface==4.1.3
